@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  
  background-image: url("t.jpg");
  /* Escape the backslash */
  /* background: fixed; */
  /* display: flex; */
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  overflow-x: hidden;
  overflow-y: auto;
  /* Add this to hide horizontal overflow */
}

.parenth {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.Home {
  max-width: 700px;
  grid-column: 2/12;
  grid-row: 4/10;
}


.loader {
  overflow: hidden;
}

.wheel {
  fill: rgb(128, 128, 128);
  font-size: 100px;
  max-width: 60px;
  min-height: 60px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: rgb(126, 126, 126);
}

#tire {
  fill: rgb(55, 55, 55);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@keyframes rolling {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes road-move {
  from {
    transform: translateX(-140%);
  }

  to {
    transform: translateX(100%);
  }
}